.elementor-703 .elementor-element.elementor-element-87720c2:not(.elementor-motion-effects-element-type-background), .elementor-703 .elementor-element.elementor-element-87720c2 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:transparent;
    background-image:linear-gradient(180deg, var( --e-global-color-7867338 ) 0%, #F2F7FF 100%);
}
.elementor-703 .elementor-element.elementor-element-87720c2{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-703 .elementor-element.elementor-element-87720c2 > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-703 .elementor-element.elementor-element-2b1c798d{
    text-align:left;
    color:var( --e-global-color-secondary );
    font-family:"Playfair Display", Sans-serif;
    font-size:1.2em;
    font-weight:600;
}
.elementor-703 .elementor-element.elementor-element-335a0bc{
    --grid-template-columns:repeat(0, auto);
    --icon-size:22px;
    --grid-row-gap:0px;
}
.elementor-703 .elementor-element.elementor-element-335a0bc .elementor-widget-container{
    text-align:left;
}
.elementor-703 .elementor-element.elementor-element-335a0bc .elementor-social-icon{
    background-color:#FFFFFF00;
}
.elementor-703 .elementor-element.elementor-element-335a0bc .elementor-social-icon i{
    color:var( --e-global-color-352a419 );
}
.elementor-703 .elementor-element.elementor-element-335a0bc .elementor-social-icon svg{
    fill:var( --e-global-color-352a419 );
}
.elementor-703 .elementor-element.elementor-element-916bc75{
    text-align:right;
    color:var( --e-global-color-secondary );
    font-family:"Playfair Display", Sans-serif;
    font-size:1.2em;
    font-weight:600;
}
@media(max-width:1024px){
    .elementor-703 .elementor-element.elementor-element-2b1c798d{
        text-align:center;
    }
    .elementor-703 .elementor-element.elementor-element-335a0bc .elementor-widget-container{
        text-align:center;
    }
    .elementor-703 .elementor-element.elementor-element-916bc75{
        text-align:center;
    }
}
@media(max-width:1024px) and (min-width:768px){
    .elementor-703 .elementor-element.elementor-element-389ae83{
        width:100%;
    }
    .elementor-703 .elementor-element.elementor-element-982f1b4{
        width:100%;
    }
}
