 .main-navigation {
     display: block;
     width: 100%;
}
 .main-navigation ul {
     display: none;
     list-style: none;
     margin: 0;
     padding-left: 0;
}
 .main-navigation ul ul {
     box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
     float: left;
     position: absolute;
     top: 100%;
     left: -999em;
     z-index: 99999;
}
 .main-navigation ul ul ul {
     left: -999em;
     top: 0;
}
 .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
     display: block;
     left: auto;
}
 .main-navigation ul ul a {
     width: 200px;
}
 .main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul {
     left: auto;
}
 .main-navigation li {
     position: relative;
}
 .main-navigation a {
     display: block;
     text-decoration: none;
}
/* Small menu. */
 .menu-toggle, .main-navigation.toggled ul {
     display: block;
}
 @media screen and (min-width: 37.5em) {
     .menu-toggle {
         display: none;
    }
     .main-navigation ul {
         display: flex;
    }
}
 .site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation {
     margin: 0 0 1.5em;
}
 .comment-navigation .nav-links, .posts-navigation .nav-links, .post-navigation .nav-links {
     display: flex;
}
 .comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
     flex: 1 0 50%;
}
 .comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
     text-align: end;
     flex: 1 0 50%;
}
/* Posts and pages --------------------------------------------- */
 .sticky {
     display: block;
}
 .post, .page {
     margin: 0;
}
 .updated:not(.published) {
     display: none;
}
 .page-content, .entry-content, .entry-summary {
     margin: 1.5em 0 0;
}
 .page-links {
     clear: both;
     margin: 0 0 1.5em;
}
 .responsive-embed {
     border-radius: 10px;
}
/* Comments --------------------------------------------- */
 .comment-content a {
     word-wrap: break-word;
}
 .comment-author {
     font-weight: bold;
}
 .commentlist li {
     background: #fff;
     border-radius: 10px;
}
 .commentlist .comment-reply-link {
     padding: 0.25em 0.5em;
     background: #ED6E18;
     color: #fff;
     border-radius: 5px;
     font-weight: bold;
     font-size: 13px;
}
 .commentlist .comment_content p {
     font-size: .85em;
     color: #7a7a7a;
}
 .bypostauthor {
     display: block;
}
 .alert-info {
     color: #0c5460;
     background-color: #d1ecf1;
     border-color: #bee5eb;
     padding: 10px;
     border-radius: 5px;
     font-size: 14px;
     display: inline-block;
     font-weight: bold;
     margin: 10px 0;
}
 .alert-info p {
     margin-bottom: 0;
}
/* Widgets --------------------------------------------- */
 .widget {
     margin: 0 0 1.5em;
}
 .widget select {
     max-width: 100%;
}
/* Media --------------------------------------------- */
 .page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
     border: none;
     margin-bottom: 0;
     margin-top: 0;
     padding: 0;
}
/* Make sure logo link wraps around logo image. */
 .custom-logo-link {
     display: inline-block;
}
/* Captions --------------------------------------------- */
 .wp-caption {
     margin-bottom: 1.5em;
     max-width: 100%;
}
 .wp-caption img[class*="wp-image-"] {
     display: block;
     margin-left: auto;
     margin-right: auto;
}
 .wp-caption .wp-caption-text {
     margin: 0.8075em 0;
}
 .wp-caption-text {
     text-align: center;
}
/* Galleries --------------------------------------------- */
 .gallery {
     margin-bottom: 1.5em;
     display: grid;
     grid-gap: 1.5em;
}
 .gallery-item {
     display: inline-block;
     text-align: center;
     width: 100%;
}
 .gallery-columns-2 {
     grid-template-columns: repeat(2, 1fr);
}
 .gallery-columns-3 {
     grid-template-columns: repeat(3, 1fr);
}
 .gallery-columns-4 {
     grid-template-columns: repeat(4, 1fr);
}
 .gallery-columns-5 {
     grid-template-columns: repeat(5, 1fr);
}
 .gallery-columns-6 {
     grid-template-columns: repeat(6, 1fr);
}
 .gallery-columns-7 {
     grid-template-columns: repeat(7, 1fr);
}
 .gallery-columns-8 {
     grid-template-columns: repeat(8, 1fr);
}
 .gallery-columns-9 {
     grid-template-columns: repeat(9, 1fr);
}
 .gallery-caption {
     display: block;
}
/*-------------------------------------------------------------- # Plugins --------------------------------------------------------------*/
/* Jetpack infinite scroll --------------------------------------------- */
/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
 .infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer {
     display: none;
}
/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
 .infinity-end.neverending .site-footer {
     display: block;
}
/*-------------------------------------------------------------- # Utilities --------------------------------------------------------------*/
/* Accessibility --------------------------------------------- */
/* Text meant only for screen readers. */
 .screen-reader-text {
     border: 0;
     clip: rect(1px, 1px, 1px, 1px);
     clip-path: inset(50%);
     height: 1px;
     margin: -1px;
     overflow: hidden;
     padding: 0;
     position: absolute !important;
     width: 1px;
     word-wrap: normal !important;
}
 .screen-reader-text:focus {
     background-color: #f1f1f1;
     border-radius: 3px;
     box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
     clip: auto !important;
     clip-path: none;
     color: #21759b;
     display: block;
     font-size: 0.875rem;
     font-weight: 700;
     height: auto;
     left: 5px;
     line-height: normal;
     padding: 15px 23px 14px;
     text-decoration: none;
     top: 5px;
     width: auto;
     z-index: 100000;
}
/* Do not show the outline on the skip link target. */
 #primary[tabindex="-1"]:focus {
     outline: 0;
}
/* Alignments --------------------------------------------- */
 .alignleft {
    /*rtl:ignore*/
     float: left;
    /*rtl:ignore*/
     margin-right: 1.5em;
     margin-bottom: 1.5em;
}
 .alignright {
    /*rtl:ignore*/
     float: right;
    /*rtl:ignore*/
     margin-left: 1.5em;
     margin-bottom: 1.5em;
}
 .aligncenter {
     clear: both;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 1.5em;
}
/* Theme Styles --------------------------------------------- */
 [type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
     box-shadow: none !important;
}
 .author-name-shop {
     margin-bottom: .5em;
     display: block;
}
 .comments-title {
     font-size: 1.5em;
     margin-bottom: 1em;
}
 .wp-caption {
     padding: 10px;
     border-radius: 10px;
}
/* WooCommerce --------------------------------------------- */
 .woocommerce .label {
     background: unset;
}
 .woocommerce tbody, .woocommerce tbody tr {
     border: 0;
     background-color: unset !important;
}
 .woocommerce .quantity .qty {
     height: 100%;
     width: auto;
     max-width: 80px;
     height: 50px;
     margin: 0px;
}
 .woocommerce ul.wc-tabs li {
     border: 0 !important;
}
 .woocommerce .wc-tabs {
     padding: 0 !important;
     border: 0 !important;
     background: unset !important;
}
 .woocommerce #reviews #comments ol.commentlist li .comment-text {
     border: 1px solid lightgray;
     border-radius: 5px;
     background: #fff;
}
 @media only screen and (max-width: 1200px) {
     .woocommerce #reviews #comments ol.commentlist li .comment-text {
         margin: 40px 0 0 0;
    }
}
 .woocommerce .price ins {
     text-decoration: none;
}
 .woocommerce .checkout-thumb {
     width: 80px;
     margin-right: 1em;
     float: left 
}
 .woocommerce #review_form #respond textarea {
     border-radius: 5px;
}
 .woocommerce #review_form #respond .form-submit input {
     text-transform: uppercase;
}
 .woocommerce .comment-form-rating {
     margin: 1em 0;
}
 .woocommerce .comment-form-rating .stars a {
     color: #FFC107;
     font-size: 18px 
}
 .woocommerce .comment-reply-title {
     font-weight: bold;
}
 .woocommerce table.shop_attributes td {
     font-style: normal;
}
 .woocommerce .cart-collaterals .cross-sells ul.products {
     display: flex !important;
}
 .woocommerce #add_payment_method .cart-collaterals .cross-sells ul.products li.product, .woocommerce-cart .cart-collaterals .cross-sells ul.products li.product, .woocommerce-checkout .cart-collaterals .cross-sells ul.products li.product {
     text-align: center;
}
 .woocommerce .single-product .woocommerce-message, .woocommerce-cart .woocommerce-message {
     background-color: #D4EDDA;
     border: 0;
     line-height: 2;
     border-radius: 5px;
}
 .woocommerce .single-product .woocommerce-message a.button.wc-forward {
     background-color: #000;
     color: white;
     letter-spacing: 1px;
     text-transform: uppercase;
}
 .woocommerce .woo-variation-gallery-wrapper {
     min-height: 400px !important;
}
 .woocommerce .cart_totals h2 {
     display: none;
}
 .woocommerce table.shop_table {
     border: 0;
}
 .woocommerce-checkout-review-order-table tfoot {
     border: 0;
}
 .woocommerce-table tfoot {
     background: #EDF2FB;
     border: 0;
}
 .woocommerce table.shop_table tfoot th, .woocommerce table.shop_table tfoot td {
     border-top: 0;
}
 .woocommerce #add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
     background: none;
}
 .woocommerce-checkout #payment div.payment_box {
     border-radius: 5px;
     background-color: #fff1e6;
}
 .woocommerce-checkout #payment div.payment_box::before {
     border: 1em solid #fff1e6;
     border-right-color: transparent;
     border-left-color: transparent;
     border-top-color: transparent;
}
 .woocommerce .woocommerce-privacy-policy-text p {
     padding: 1em;
     font-size: .85em;
}
 .woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
     width: 100%;
}
 .woocommerce .woocommerce-message {
     background-color: #D1E7DD;
     border: 0;
     border-radius: 5px;
     margin: 0;
     font-size: .85em;
}
 .woocommerce-cart .woocommerce-message, .woocommerce-account .woocommerce-message {
     margin-bottom: 1em;
}
 .woocommerce-message::before {
     color: #28a745;
}
 .woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
     content: "\f06a";
     font-family: "Font Awesome 5 Free";
     font-weight: 900;
}
 .woocommerce-error {
     border-top-color: #dc3545;
}
 .woocommerce-error::before {
     color: #dc3545;
}
 .woocommerce #respond input#submit.added::after, .woocommerce a.button.added::after, .woocommerce button.button.added::after, .woocommerce input.button.added::after {
     content: "\f00c";
     font-family: "Font Awesome 5 Free";
     font-weight: 900;
}
 .woocommerce-info::before {
     color: #007bff;
}
/* Change default star rating styles - Delete the lines below for reset the classical star rating */
 .woocommerce div.product .woocommerce-product-rating {
     margin-bottom: 1rem;
}
 .taxonomy-summary .woocommerce-product-rating {
     margin-bottom: 0 !important;
}
 .woocommerce .star-rating {
     width: 5.55em;
     margin: 0 auto;
     display: inline-block;
}
 .woocommerce .related .star-rating {
     display: inline-block;
}
 .woocommerce p.stars a:before, .woocommerce p.stars:hover a::before {
     font-family: "Font Awesome 5 Free";
     font-weight: 400;
     content: '\f005';
}
 .woocommerce p.stars a:hover~a::before {
     font-family: "Font Awesome 5 Free";
     font-weight: 400;
     content: '\f005';
}
 .woocommerce .star-rating span::before {
     font-family: "Font Awesome 5 Free";
     font-weight: 900;
     content: '\f005 \f005 \f005 \f005 \f005';
     color: #ffc107;
     position: absolute;
     top: 0;
     left: 0;
}
 .woocommerce .star-rating::before {
     font-family: "Font Awesome 5 Free";
     font-weight: 400;
     content: '\f005 \f005 \f005 \f005 \f005';
     color: #ffc107;
}
 .woocommerce p.stars.selected a.active::before, .woocommerce p.stars.selected a:not(.active)::before {
     font-family: "Font Awesome 5 Free";
     font-weight: 900;
     content: '\f005';
}
 .woocommerce p.stars.selected a.active~a::before {
     font-family: "Font Awesome 5 Free";
     font-weight: 400;
     content: '\f005';
}
 .pp-woocommerce .star-rating {
     width: 6em !important;
}
 .pp-woocommerce .star-rating::before {
     content: '\f005 \f005 \f005 \f005 \f005' !important;
}
 .pp-woocommerce .star-rating span::before {
     content: '\f005 \f005 \f005 \f005 \f005' !important;
}
/* the "view cart" button */
 .woocommerce .woocommerce-message a.button.wc-forward {
     border: 1px solid #000;
     background: unset;
     color: #000;
     letter-spacing: 1px;
}
 .woocommerce-account .addresses .title .edit {
     float: left;
     clear: both;
     margin: 0 0 15px 0;
     background: #000;
     color: #fff;
     padding: 5px 10px;
     border-radius: 5px;
}
 .woocommerce .form-row span em {
     font-size: 13px;
     font-style: normal;
     letter-spacing: normal;
     margin: 10px;
     color: darkgray;
     font-weight: 400;
}
 .woocommerce .woocommerce-EditAccountForm fieldset {
     margin-top: 2em;
}
 .woocommerce .woocommerce-EditAccountForm fieldset legend {
     text-transform: uppercase;
     font-weight: 600;
}
 .woocommerce table.shop_table thead {
     border: 0;
     background: unset;
}
 .woocommerce table.shop_table td {
     letter-spacing: normal;
}
 .woocommerce table.shop_table th {
     text-transform: uppercase;
}
 .woocommerce form .show-password-input, .woocommerce-page form .show-password-input {
     top: unset;
}
 .woocommerce-Address address {
     font-style: normal;
     letter-spacing: normal;
}
 .woocommerce .woocommerce-customer-details address {
     font-style: normal;
     border: 0;
     border-radius: 0;
     padding: 1em;
     background: #EDF2FB;
     letter-spacing: normal;
     font-weight: 400;
}
 .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
     font-size: 100%;
     margin: 0;
     line-height: 1;
     cursor: pointer;
     position: relative;
     text-decoration: none;
     overflow: visible;
     padding: .618em 1em;
     font-weight: 700;
     border-radius: 3px;
     left: auto;
     color: #515151;
     background-color: #ebe9eb;
     border: 0;
     display: inline-block;
     background-image: none;
     box-shadow: none;
     text-shadow: none;
}
 .woocommerce .button {
     width: 100%;
}
 .woocommerce button.single_add_to_cart_button, .woocommerce .cart .button, .woocommerce-message .button {
     width: unset;
}
 .woocommerce a.added_to_cart {
     display: block;
}
 .woocommerce div.product form.cart .variations .label {
     padding: 1em .5em;
}
 .woocommerce-order h2 {
     font-size: 18px;
     font-weight: 600;
     text-transform: uppercase;
     color: #fff;
     background: #627563;
     padding: 3px 10px;
}
 .wc-forward {
     display: block;
}
 .select2-container--default .select2-selection--single {
     border-radius: 0;
}
 .woocommerce-product-search {
     display: flex;
}
 .woocommerce-product-search .search-field {
     margin-right: 10px;
     margin-bottom: 0;
}
 .woocommerce-product-search button {
     padding: 11px;
}
 @media (min-width: 600px) {
     .woocommerce div.product form.cart .variations {
         width: 30%;
    }
}
 @media (max-width: 768px) {
     .woocommerce .quantity .qty {
         display: inline-block;
    }
     .woocommerce .coupon .button {
         width: 100% !important;
         margin: 10px 0;
    }
     .woocommerce-MyAccount-content {
         margin: 2em 0;
         width: 100% !important;
    }
}
/* CUSTOM CF7 STYLES -------------------- */
 .wpcf7 label {
     font-weight: bold;
}
/* SELECT --------- */
 select.wpcf7-select {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     background: url('../img/arrowdown.svg');
     background-position-x: 95%;
     background-position-y: 50%;
     background-repeat: no-repeat;
     background-size: 15px 15px;
     background-color: #ededed;
}
 .wpcf7-select {
     width: 100%;
     border: 1px solid #efefef;
     padding: 7px 40px;
     margin-top: 0.5rem;
     padding-left: 20px;
}
/* FIELDS --------- */
 .wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"], .wpcf7 textarea {
     width: 100%;
     border: 1px solid #666;
     border-radius: 3px;
     padding: .5rem 1rem;
     -webkit-transition: all .3s;
     -o-transition: all .3s;
     transition: all .3s;
}
 .wpcf7-quiz-label {
     display: block;
     margin-top: 0.5rem;
}
/* RADIO -------- */
 .wpcf7-list-item-label {
     margin-left: 0.5em;
     display: inline-block;
}
 .wpcf7 input[type="radio"]:after {
     width: 22px;
     height: 22px;
     border-radius: 15px;
     top: -3px;
     left: -1px;
     position: relative;
     background-color: #d1d3d1;
     content: '';
     display: inline-block;
     visibility: visible;
     border: 2px solid white;
}
 .wpcf7 input[type="radio"]:checked:after {
     width: 22px;
     height: 22px;
     border-radius: 15px;
     top: -3px;
     left: -1px;
     position: relative;
     background-color: #1199FF;
     content: '';
     display: inline-block;
     visibility: visible;
     border: 2px solid white;
}
/* CHECKBOX ----------- */
 .wpcf7-list-item-label {
     margin-left: 0.75em;
     display: inline-block;
}
 .wpcf7 input[type="checkbox"]:after {
     width: 22px;
     height: 22px;
     top: -3px;
     left: -1px;
     position: relative;
     background-color: #d1d3d1;
     content: '';
     display: inline-block;
     visibility: visible;
     border: 2px solid white;
}
 .wpcf7 input[type="checkbox"]:checked:after {
     width: 22px;
     height: 22px;
     border-radius: 5px;
     top: -3px;
     left: -1px;
     position: relative;
     background-color: red;
     content: '';
     display: inline-block;
     visibility: visible;
     border: 2px solid white;
}
/* BUTTONS ---------- */
 .wpcf7 input[type="submit"], .wpcf7 input[type="button"] {
     display: inline-block;
     font-weight: 400;
     color: #F15A24;
     text-align: center;
     white-space: nowrap;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     background-color: transparent;
     border: 1px solid #F15A24;
     padding: .5rem 1rem;
     font-size: 1rem;
     border-radius: 3px;
     -webkit-transition: all .3s;
     -o-transition: all .3s;
     transition: all .3s;
}
 .wpcf7 input[type=file] {
     color: #000;
     background-color: #ededed;
     border: 1px solid #efefef;
     padding: 7px 20px;
}
/* MESSAGES ----------- */
 span.wpcf7-not-valid-tip {
     padding: 7px 20px;
}
 div.wpcf7-validation-errors, div.wpcf7-acceptance-missing, div.wpcf7-mail-sent-ok {
     font-weight: bold;
     margin: 0;
     padding: 7px 20px;
}
 div.wpcf7-mail-sent-ok {
     color: #398f14;
}
 .wpcf7-mail-sent-ok:before {
     content: "\f058";
     font-family: "Font Awesome 5 Pro";
     font-weight: 900;
     padding-right: 4px;
}
 .wpcf7-not-valid-tip:before, .wpcf7-validation-errors:before, .wpcf7-acceptance-missing:before {
     content: "\f06a";
     font-family: "Font Awesome 5 Pro";
     font-weight: 900;
     padding-right: 4px;
}
 .wpcf7-response-output {
     padding: 10px !important;
     margin: 10px 0 !important;
     border-radius: 5px;
     font-size: 14px;
     background: ghostwhite;
     font-weight: bold;
     text-align: center;
}
 